<template>
    <div>
        <dialog-blog @go="go" />
        <!-- tampilkan blog dengan id tersebut jika ada -->
        <div v-if="blog.id">
            <img :src="blog.photo ? apiDomain + blog.photo : 'https://dummyimage.com/1024'" class="w-full h-80 object-cover object-center">
            <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
                <p class="mb-2 text-xs font-semibold tracking-wide text-gray-600 uppercase sm:text-center">
                20 Nov 2020
                </p>
                <div class="max-w-xl mb-5 md:mx-auto sm:text-center lg:max-w-2xl">
                <div class="mb-4">
                    <a href="/" aria-label="Article" class="inline-block max-w-lg font-sans text-3xl font-extrabold leading-none tracking-tight text-black transition-colors duration-200 hover:text-deep-purple-accent-700 sm:text-4xl">
                    {{ blog.title }}
                    </a>
                </div>
                <p class="text-base text-gray-700 md:text-lg">
                    {{ blog.description }}
                </p>
                </div>
                <div class="mb-10 sm:text-center">
                <a href="/" aria-label="Author" class="inline-block mb-1">
                    <img alt="avatar" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-10 h-10 rounded-full shadow-sm" />
                </a>
                <div>
                    <a href="/" aria-label="Author" class="font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700">RSurya99</a>
                    <p class="text-sm font-medium leading-4 text-gray-600">Author</p>
                </div>
                </div>
                <div class="sm:text-center">
                    <v-btn outlined color="blue darken-1" class="mr-2" @click="updatePost"><v-icon>mdi-note-edit</v-icon> Edit</v-btn>
                    <v-btn outlined color="blue darken-1" class="mr-2" @click="uploadPhotoPost"><v-icon>mdi-upload</v-icon> Upload Photo</v-btn>
                    <v-btn outlined color="red darken-1 ml-4" @click="deletePost"><v-icon>mdi-delete</v-icon> Delete</v-btn>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data: () => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com/',
    blog: {},
  }),
  components: {
    DialogBlog: () => import('../components/blog/Dialog.vue'),
  },
  computed: {
      ...mapGetters({
        token: 'auth/token',
        id: 'update/id',
        title: 'update/title',
        description: 'update/description',
        refresh: 'update/refresh',
      }),
  },
  methods: {
      go(){
          let { id } = this.$route.params;
          const config = {
              method: 'get',
              url: `${this.apiDomain}api/v2/blog/${id}`
          }
          this.axios(config)
           .then(response => {
               let { blog } = response.data;
               this.blog = blog;
           })
           .catch(error => {
               console.log(error);
           })
      },
      updatePost(){
        this.setData(this.blog)
        this.setDialogComponent({'component' : 'update'})
      },
      deletePost(){
          if(confirm(`Apakah anda yakin ingin menghapus post ${this.blog.title} ? `)){
            const config = {
                method: 'post',
                url: `${this.apiDomain}api/v2/blog/${this.blog.id}?_method=DELETE`,
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                },
                params: { '_method': 'DELETE'}
            }

            this.axios(config)
             .then(response => {
                 this.$router.push('/blogs');
                 this.setAlert({
                     status: true,
                     color: 'success',
                     text: 'Berhasil menghapus post!'
                 })
                 return response
             })
             .catch(response => {
                 console.log(response)
                 this.setAlert({
                     status: true,
                     color: 'error',
                     text: 'gagal menghapus post'
                 })
             })
          }
      },
      uploadPhotoPost(){
        this.setData(this.blog)
        this.setDialogComponent({'component' : 'upload-photo'})
      },
      ...mapActions({
        setDialogComponent: 'dialogblog/setComponent',
        setData: 'update/setData',
        clear: 'update/clear',
        updateRefresh: 'update/updateRefresh',
        setAlert: 'alert/set',
      }),
  },
  created(){
      this.go();
  },
}
</script>