<template>
  <div>
    <dialog-blog @go="go" />

    <v-container class="mx-auto my-16 pa-0" grid-list-sm>
        <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">All Blog</h2>
        <v-btn text class="blue--text darken-1 mb-2" @click="createPost">
          Create Blogs<v-icon class="ml-1">mdi-plus</v-icon>
        </v-btn>
      <v-layout wrap>
          <blog-item-component v-for="blog in blogs" :key="`blog-${blog.id}`" :blog="blog"></blog-item-component>
      </v-layout>
      <v-pagination v-model="page" @input="go" :length="lengthPage" :total-visible="perPage"></v-pagination>
    </v-container>
  </div>
</template>


<script>
import { mapActions } from 'vuex';

export default {
  data: () => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com/',
    blogs: [],
    page: 0,
    lengthPage: 0,
    perPage: 0,
  }),
  components: {
      BlogItemComponent: () => import('../components/BlogItemComponent.vue'),
      DialogBlog: () => import('../components/blog/Dialog.vue'),
  },
  methods: {
      go(){
          const config = {
              method: 'get',
              url: this.apiDomain + "api/v2/blog",
              params: { 'page': this.page}
          };

          this.axios(config)
           .then(response => {
               let { blogs } = response.data
               this.blogs = blogs.data
               this.page = blogs.current_page
               this.lengthPage = blogs.last_page
               this.perPage = blogs.per_page
           })
           .catch(error => {
               console.log(error)
           });
      },
      createPost(){
        this.setDialogComponent({'component' : 'create'})
      },
      ...mapActions({
        setDialogComponent: 'dialogblog/setComponent',
      })
  },
  created(){
      this.go()
  },
}
</script>