<template>
  <!-- template blogs -->
  <div>

    <!-- Hero -->
    <section id="hero">
      <v-row no-gutters>
        <v-img
          :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
          src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80"
        >
          <v-theme-provider dark>
            <v-container fill-height>
              <v-row align="center" class="white--text mx-auto" justify="center" >
                <v-col class="white--text text-center" cols="12" tag="h1" >
                  <span
                  :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']"
                    class="font-weight-light"
                  >
                    WELCOME TO
                  </span>

                  <br>

                  <span
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']"
                    class="font-weight-black"
                  >
                    INDIBLOG
                  </span>

                </v-col>

                <v-btn class="align-self-end" fab outlined color="white" @click="$vuetify.goTo('#blog')">
                  <v-icon>mdi-chevron-double-down</v-icon>
                </v-btn>
              </v-row>
            </v-container>
          </v-theme-provider>
        </v-img>
      </v-row>
    </section>

    <!-- Blog -->
    <section id="blog">
        <div class="py-12"></div>
        <v-container>
            <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Blog</h2>
            <div class="my-20">
              <div class="text-right mb-4">
                <v-btn text to="/blogs" class="blue--text darken-1">
                  All Blogs <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
              </div>

              <v-row>
                <blog-item-component v-for="blog in blogs" :key="`blog-${blog.id}`" :blog="blog"></blog-item-component>
              </v-row>
            </div>
        </v-container>
        <div class="py-12"></div>
    </section>
    
    <!-- About Us -->
    <section id="about-us">
        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">ABOUT US</h2>

          <div class="flex flex-col sm:flex-row items-center justify-center space-y-10 sm:space-y-0 sm:space-x-8 md:space-x-20 my-20">
            <span class="transform hover:scale-105 transition duration-300">
              <v-avatar class="elevation-12 mb-4" size="150">
                <v-img src="https://gitlab.com/uploads/-/system/user/avatar/9617030/avatar.png"></v-img>
              </v-avatar>
              <div class="text-lg text-gray-600 tracking-wide">
                Chrisanta Veronica
              </div>
            </span>
            <span class="transform hover:scale-105 transition duration-300">
              <v-avatar class="elevation-12 mb-4" size="150">
                <v-img src="https://gitlab.com/uploads/-/system/user/avatar/9797857/avatar.png"></v-img>
              </v-avatar>
              <div class="text-lg text-gray-600 tracking-wide">
                Rafli Surya Pratama
              </div>
            </span>
            <span class="transform hover:scale-105 transition duration-300">
              <v-avatar class="elevation-12 mb-4" size="150">
                <v-img src="https://secure.gravatar.com/avatar/2506050da7e428146e48a2f148853b67?s=180&d=identicon"></v-img>
              </v-avatar>
              <div class="text-lg text-gray-600 tracking-wide">
                Usman Lubis
              </div>
            </span>
          </div>
        </v-container>

        <div class="py-12"></div>
      </section>
  </div>
</template>

<script>

export default {
  data: () => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com/',
    blogs: [],
  }),
  components: {
    BlogItemComponent: () => import('../components/BlogItemComponent.vue')
  },
  methods: {
    go(){
      const config = {
        method: 'get',
        url: this.apiDomain + 'api/v2/blog/random/4'
      }

      this.axios(config)
      .then(response => {
        let { blogs } = response.data;
        this.blogs = blogs;
      })
      .catch(error => {
        console.log(error);
      })
    },
  },
  created(){
    this.go()
  },
}
</script>