<template>
    <v-col
    cols="12"
    md="6"
    >
        <v-img
            :src="blog.photo ? apiDomain + blog.photo : 'https://dummyimage.com/1024'"
            class="mb-4 shadow-lg"
            height="300"
            max-width="100%"
        ></v-img>

        <h3
            class="font-weight-black mb-4 text-uppercase text-lg"
            v-text="blog.title"
        ></h3>

        <div
            class="title font-weight-light mb-5"
        >{{ blog.description.length > 30 ? blog.description.substring(0,30) + '...' : blog.description }}</div>

        <v-btn
            class="ml-n4 font-weight-black"
            text
            :to="'/blog/' + blog.id"
        >
            Continue Reading
        </v-btn>
    </v-col>
</template>

<script>
export default {
    data: ()=> ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com/',
    }),
    props: ['blog']
}
</script>