<template>
    <v-card>
        <v-toolbar dark color="blue darken-1">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>
                Register
            </v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field color="blue darken-1" v-model="email" label="E-mail" required append-icon="mdi-email"></v-text-field>
                <v-text-field color="blue darken-1" v-model="password" label="Password" required :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" :type="showPassword ? 'text' : 'password'" counter @click:append="showPassword = !showPassword"></v-text-field>
                <v-text-field color="blue darken-1" v-model="name" label="Name" required append-icon="mdi-account"></v-text-field>
                <div class="d-flex flex-column mb-2">
                    <label for="photo">Photo Profile</label>
                    <input type="file" id="photo" name="photo" ref="photo" v-on:change="handlePhotoProfile()" required/>
                </div>
                <div class="text-xs-center">
                    <v-btn color="blue darken-1 white--text" @click="submit">Register <v-icon right dark>mdi-account-plus</v-icon></v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    data(){
        return{
            apiDomain: 'https://demo-api-vue.sanbercloud.com/',
            email: '',
            showPassword: false,
            password: '',
            name: '',
            file: '',
        }
    },
    methods: {
        close(){
            this.$emit("closed", false)
        },
        handlePhotoProfile(){
            this.file = this.$refs.photo.files[0];
        },
        submit(){
            const formData = new FormData()
            formData.append('email', this.email)
            formData.append('password', this.password)
            formData.append('name', this.name)
            formData.append('photo_profile', this.file)
            
            const config = {
                method: 'post',
                url: this.apiDomain + 'api/v2/auth/register',
                headers: {
                    'Accept': 'application/json'
                },
                data: formData,
            }

            this.axios(config)
             .then(() => {
                 this.setAlert({
                     status: true,
                     color: 'success',
                     text: 'Akun berhasil dibuat!'
                 })
                 this.close()
             })
             .catch(response => {
                 console.log(response)
                 this.setAlert({
                     status: true,
                     color: 'error',
                     text: 'Akun gagal dibuat!'
                 })
             })
        },
        ...mapActions({
            setAlert: 'alert/set',
        }),
    }
}
</script>