<template>
    <v-card>
        <v-toolbar dark color="blue darken-1">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>
                Create Blog Post
            </v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field color="blue darken-1" v-model="title" label="title" placeholder="Type title here" clearable required></v-text-field>
                <v-textarea color="blue darken-1" label="description" v-model="description" placeholder="Type description here" required clearable></v-textarea>
                <div class="text-sm-left">
                    <v-btn color="blue darken-1 white--text" @click="store">Create</v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    data(){
        return{
            apiDomain: 'https://demo-api-vue.sanbercloud.com/',
            title: '',
            description: '',
            messageCatch: '',
        }
    },
    computed: {
        ...mapGetters({
            token: 'auth/token'
        }),
    },
    methods: {
        close(){
            this.$emit("closed", false)
        },
        store(){
            const config = {
                method: 'post',
                url: this.apiDomain + 'api/v2/blog',
                headers: {
                    'Authorization': 'Bearer ' + this.token
                },
                data: {
                    'title': this.title,
                    'description': this.description
                },
            }

            this.axios(config)
             .then(() => {
                 this.setAlert({
                     status: true,
                     color: 'success',
                     text: 'Berhasil menambahkan post!'
                 })
                 this.close()
                 this.$emit('go')
             })
             .catch(response => {
                 console.log(response)
                 if(this.token == ''){
                     this.messageCatch = 'Gagal menambahkan post, anda belum, login!'
                 }else if(this.title == '' || this.description == ''){
                     this.messageCatch = 'Gagal menambahkan post, anda belum mengisi judul/deskripsi'
                 }else{
                     this.messageCatch = 'Gagal menambahkan post'
                 }
                 this.setAlert({
                     status: true,
                     color: 'error',
                     text: this.messageCatch
                 })
             })
        },
        ...mapActions({
            setAlert: 'alert/set',
        }),
    }
}
</script>