<template>
  <keep-alive>
    <v-dialog v-model="dialog" fullscreen hide-overlay persistent transition="dialog-bottom-transition">
      <component :is="currentComponent" @closed="setDialogStatus" v-on="$listeners"></component>
    </v-dialog>
  </keep-alive>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
    components: {
        Update: () => import('./Update.vue'),
        Create: () => import('./Create.vue'),
        UploadPhoto: () => import('./UploadPhoto.vue')
    },
    computed: {
        ...mapGetters({
            dialogStatus: 'dialogblog/status',
            currentComponent: 'dialogblog/component',
        }),
        dialog: {
            get(){
                return this.dialogStatus
            },
            set(value){
                this.setDialogStatus(value)
            }
        }
    },
    methods: {
        ...mapActions({
            setDialogStatus: 'dialogblog/setStatus'
        })
    }
}
</script>