<template>
    <v-card>
        <v-toolbar dark color="blue darken-1">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>
                Update Post
            </v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field color="blue darken-1" v-model="newTitle" label="title" placeholder="Type title here" clearable required></v-text-field>
                <v-textarea color="blue darken-1" label="description" v-model="newDescription" placeholder="Type description here" required clearable></v-textarea>
                <div class="text-sm-left">
                    <v-btn color="blue darken-1 white--text" @click="update">Update</v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    data(){
        return{
            apiDomain: 'https://demo-api-vue.sanbercloud.com/',
            newTitle: '',
            newDescription: '',
            messageCatch: '',
        }
    },
    computed: {
        ...mapGetters({
            token: 'auth/token',
            id: 'update/id',
            title: 'update/title',
            description: 'update/description',
        }),
    },
    methods: {
        go(){
            this.newTitle = this.title
            this.newDescription = this.description
        },
        close(){
            this.$emit("closed", false)
        },
        update(){
            const config = {
                method: 'post',
                url: `${this.apiDomain}api/v2/blog/${this.id}?_method=PUT`,
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                    'Accept': 'application/json'
                },
                data: {
                    'title': this.newTitle,
                    'description': this.newDescription
                },
                params: { '_method': 'PUT'}
            }

            this.axios(config)
             .then(() => {
                 this.setAlert({
                     status: true,
                     color: 'success',
                     text: 'Berhasil mengedit post!'
                 })
                 this.close()
                 this.clear()
                 this.$emit('go')
             })
             .catch(response => {
                 console.log(response)
                 if(this.token == ''){
                     this.messageCatch = 'Gagal mengedit post, anda belum, login!'
                 }else{
                     this.messageCatch = 'Gagal mengedit post'
                 }
                 this.setAlert({
                     status: true,
                     color: 'error',
                     text: this.messageCatch
                 })
                 this.clear()
             })
        },
        ...mapActions({
            setAlert: 'alert/set',
            clear: 'update/clear'
        }),
    },
    created(){
        this.go()
    },
}
</script>