<template>
    <v-card>
        <v-toolbar dark color="blue darken-1">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>
                Update Post
            </v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field color="blue darken-1" disabled v-model="title" label="title" placeholder="Type title here" clearable required></v-text-field>
                <v-textarea color="blue darken-1" disabled label="description" v-model="description" placeholder="Type description here" clearable required></v-textarea>
                <input type="file" id="photo" name="photo" ref="photo" class="mb-2" v-on:change="handleFileUpload()" required/>
                <div class="text-sm-left">
                    <v-btn color="blue darken-1 white--text" @click="upload">Upload</v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    data(){
        return{
            apiDomain: 'https://demo-api-vue.sanbercloud.com/',
            file: '',
            messageCatch: '',
        }
    },
    computed: {
        ...mapGetters({
            token: 'auth/token',
            id: 'update/id',
            title: 'update/title',
            description: 'update/description',
        }),
    },
    methods: {
        close(){
            this.$emit("closed", false)
        },
        handleFileUpload(){
            this.file = this.$refs.photo.files[0];
        },
        upload(){
            const formData = new FormData()
            formData.append('photo', this.file)
            const config = {
                method: 'post',
                url: `${this.apiDomain}api/v2/blog/${this.id}/upload-photo`,
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                    'Content-Type': 'multipart/form-data'
                },
                data: formData,
            }

            this.axios(config)
             .then(() => {
                 this.setAlert({
                     status: true,
                     color: 'success',
                     text: 'Berhasil menambahkan foto pada post!'
                 })
                 this.close()
                 this.clear()
                 this.$emit('go')
             })
             .catch(response => {
                 console.log(response)
                 if(this.token == ''){
                     this.messageCatch = 'Gagal mengedit post, anda belum, login!'
                 }else{
                     this.messageCatch = 'Gagal mengedit post'
                 }
                 this.setAlert({
                     status: true,
                     color: 'error',
                     text: this.messageCatch
                 })
                 this.clear()
             })
        },
        ...mapActions({
            setAlert: 'alert/set',
            clear: 'update/clear'
        }),
    }
}
</script>