<template>
  <!-- App.vue -->
  <v-app>

    <alert/>
    <Dialog />
    
    <!-- Side Navigation -->
    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://randomuser.me/api/portraits/men/70.jpg'"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ user.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn block color="blue darken-1 white--text" class="mb-1" @click="login">
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn block outlined color="blue darken-1" @click="register">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>
        <v-divider></v-divider>

        <v-list-item v-for="(item, index) in menus" :key="`menu-${index}`" :to="item.route">
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <!-- Top Navigation -->
    <v-app-bar app color="blue darken-1" dark height="75" >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-avatar class="mx-3" color="white lighten-5" size="45" >
        <v-img
          contain
          max-height="70%"
          :src="require('@/assets/logo.png')"
        ></v-img>
      </v-avatar>

      <v-toolbar-title class="font-weight-bold headline">
        INDIBLOG
      </v-toolbar-title>
    </v-app-bar>

    <!-- Main -->
    <v-main>
      <v-slide-y-transition>
        <router-view></router-view>
      </v-slide-y-transition>
    </v-main>

    <!-- Footer -->
    <v-footer class="justify-center" color="blue darken-1" height="75">
      <div class="title font-weight-light white--text text--lighten-1 text-center">
        &copy; {{ (new Date()).getFullYear() }} — IndiBlog — Made with ❤️ by Kelompok 6 JCC VueJS
      </div>
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'App',
  components: { 
    Alert: () => import('./components/Alert.vue'),
    Dialog: () => import('./components/Dialog.vue'),
  },
  data: () => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    drawer: false,
    menus: [
      { title: 'Home', icon: 'mdi-home', route: '/'},
      { title: 'Blogs', icon: 'mdi-note-multiple', route: '/blogs'},
    ],
  }),
  computed: {
    ...mapGetters({
      guest: 'auth/guest',
      user: 'auth/user',
      token: 'auth/token'
    })
  },
  methods: {
    ...mapMutations({
      'setToken': 'auth/setToken',
      'setUser': 'auth/setUser'
    }),
    login(){
      this.setDialogComponent({'component' : 'login'})
    },
    register(){
      this.setDialogComponent({'component' : 'register'})
    },
    logout(){
      const config = {
        method: 'post',
        url: this.apiDomain + '/api/v2/auth/logout',
        headers: {
          'Authorization': 'Bearer ' + this.token
        }
      }

      this.axios(config)
       .then(() => {
         this.setToken('')
         this.setUser({})

         this.setAlert({
           status: true,
           color: 'success',
           text: 'Anda berhasil logout',
         })
       })
       .catch(responses => {
         this.setAlert({
           status: true,
           color: 'success',
           text: responses.data.error,
         })
       })
    },
    ...mapActions({
      setAlert: 'alert/set',
      setDialogComponent: 'dialog/setComponent',
      checkToken: 'auth/checkToken'
    }),
  },
  mounted(){
    if(this.token){
      this.checkToken(this.token)
    }
  }
};
</script>
